/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}
/* End Global Rules */
/* start componant */
.link {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #7620ff;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* end componant */
/* start header */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container ul li {
  margin-left: 20px;
}
.header .container ul a {
  text-decoration: none;
  color: black;
  font-weight: 650;
}
.header .container ul .active {
  background-color: white;
  color: black;
  padding: 2px 10px;
  border-radius: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* end header */
/* start landing */
.landing {
  height: 100vh;
}
.landing .container .text {
  display: flex;
  justify-content: space-between;
}
.landing .container .text .right {
  margin-top: 100px;
}
.landing .container .text .right h2 {
  font-weight: normal;
  font-size: 45px;
  margin-bottom: 20px;
}
.landing .container .text .right p {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 50px;
  padding-right: 140px;
  line-height: 1.7;
}
.landing .container .text .left .image {
  position: relative;
}
.landing .container .text .left .image::after {
  content: "";
  position: absolute;
  top: -62px;
  left: 80px;
  background-color: #f5f5f5;
  width: 90%;
  height: calc(100% + -39px);
  z-index: -1;
}
.landing .container .text .left img {
  margin-top: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.landing .container .text .left .caption {
  padding: 25px;
  width: 280px;
  max-width: 100%;
  background-color: #0b093b;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: -20%;
}
.landing .container .text .left .caption p {
  line-height: 1.5;
  font-weight: bold;
  font-size: 10px;
}
.landing .container .text .left .caption .auther {
  color: #f2b300;
  text-align: right;
  margin-top: 15px;
}
.landing .container .text .left .caption span {
  font-size: 150px;
  position: absolute;
  top: -50px;
  left: -30px;
  color: #f2b300;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}
/* end landing */
/* start options */
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  padding: 15px 20px;
}
.options svg {
  width: 50px;
}
/* end options */
/* start servcies  */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .container .text h2 {
  font-weight: normal;
  margin-bottom: 20px;
}
.services .container .text p {
  font-size: 10px;
  line-height: 1.8;
  max-width: 400px;
  margin-bottom: 25px;
  color: #6b6a7e;
}
.services .container .servs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.services .container .servs .serv {
  margin-left: 50px;
}
.services .container .serv i {
  font-size: 30px;
  margin-bottom: 20px;
}
.services .container .serv .content h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #6b6a7e;
  font-weight: normal;
}
.services .container .serv .content p {
  line-height: 1.7;
  font-size: 10px;
  font-weight: bold;
}
/* end servcies  */
/* start study */
.study {
  margin-top: 80px;
  padding-top: 40px;
  background-color: #f5f5f5;
  position: relative;
}
.study .container {
  display: flex;
}
.study .container .content p:nth-child(1) {
  font-size: 8px;
  margin-bottom: 10px;
}
.study .container .content h2 {
  font-weight: normal;
  margin-bottom: 30px;
}
.study .container .content p:nth-child(3) {
  font-size: 8px;
  line-height: 1.8;
  margin-right: 200px;
  font-weight: bold;
}
.study .container .content div {
  margin-top: 50px;
}
.study .container .content a:last-child {
  text-decoration: none;
  text-align: center;
  color: black;
  margin-left: 20px;
  border: 2px solid #6b6a7e;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.study .container .image {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: -100px;
  margin-right: 50px;
}
.study .container .image img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.study .container .image img:first-child {
  width: 200px;
}
.study .container .image img:nth-child(2) {
  width: 150px;
}
.study .container .image img:nth-child(3) {
  width: 150px;
  align-self: flex-end;
}
.study .container .image img:last-child {
  width: 150px;
}
/* end study */
/* start projects */
.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}
.projects .container .text h2 {
  font-weight: normal;
  font-size: 35px;
  margin-bottom: 20px;
}
.projects .container .text p {
  line-height: 2;
  width: 500px;
  max-width: 100%;
  margin-bottom: 35px;
  font-size: 8px;
  font-weight: bold;
}
.projects .container .our-project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  place-items: center;
  position: relative;
}
.projects .container .our-project .proj {
  width: 300px;
}
.projects .container .our-project .image img {
  max-width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.projects .container .our-project .contact {
  padding-top: 10px;
  padding-bottom: 10px;
}
.projects .container .our-project .contact h5 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 10px;
}
.projects .container .our-project .contact p {
  font-size: 8px;
  line-height: 2;
}
.projects .container .our-project .load {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* end projects */
/* start about */
.about {
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f5f5;
}
.about .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.about .container .image {
  flex: 1;
  height: 400px;
}
.about .container .image img {
  max-height: 100%;
  margin-left: 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about .container .contact {
  flex: 2;
  margin-left: 100px;
  margin-top: 80px;
}
.about .container .contact p {
  font-size: 8px;
  font-weight: bold;
  padding-bottom: 10px;
}
.about .container .contact h2 {
  font-weight: normal;
  margin-bottom: 15px;
}
.about .container .contact p:nth-child(3) {
  line-height: 2;
  font-size: 8px;
  width: 300px;
  max-width: 100%;
  font-weight: normal;
}
.about .container .contact div {
  margin-top: 50px;
}
.about .container .contact div .link {
  margin-right: 25px;
}
.about .container .contact div a:last-child {
  text-decoration: none;
  text-align: center;
  color: black;
  margin-left: 20px;
  border: 2px solid #6b6a7e;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* end about */
/* start story */
.story {
  padding-top: 60px;
  padding-bottom: 60px;
}
.story .container .text h2 {
  font-weight: normal;
  margin-bottom: 20px;
}
.story .container .text p {
  line-height: 2;
  font-size: 8px;
  width: 500px;
  max-width: 100%;
  margin-bottom: 20px;
  font-weight: bold;
}
.story .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.story .container .cards .card {
  padding: 20px;
  border: 2px solid rgb(233, 233, 233);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.story .container .cards .card h4 {
  font-weight: normal;
  margin-bottom: 15px;
}
.story .container .cards .card p:nth-child(2) {
  font-size: 8px;
  line-height: 2;
}
.story .container .cards .card p:nth-child(3) {
  font-size: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #ddd;
}
.story .container .cards .card a {
  text-decoration: none;
  font-size: 10px;
  color: black;
  margin-top: 15px;
  padding: 5px 10px;
  background-color: #c4ffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* end story */
/* start quotes*/
.quotes {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f5f5;
}
.quotes .container .text h2 {
  font-weight: normal;
  margin-bottom: 30px;
}
.quotes .container .text p {
  font-size: 8px;
  line-height: 1.8;
  width: 300px;
  margin-bottom: 20px;
}
.quotes .container .flex {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}
.quotes .container .quote {
  background-color: #0b093b;
  padding: 25px;
  margin-left: 10px;
  color: white;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.quotes .container .quote p {
  line-height: 1.5;
  font-weight: bold;
  font-size: 10px;
}
.quotes .container .quote .auther {
  color: #f2b300;
  text-align: right;
  margin-top: 15px;
}
.quotes .container .quote span {
  font-size: 100px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%) rotate(10deg);
  color: #f2b300;
  -webkit-transform: translateX(-50%) rotate(10deg);
  -moz-transform: translateX(-50%) rotate(10deg);
  -ms-transform: translateX(-50%) rotate(10deg);
  -o-transform: translateX(-50%) rotate(10deg);
}
/* end quotes */
/* start pricing */
.pricing {
  padding-top: 60px;
  padding-bottom: 60px;
}
.pricing .container .text h2 {
  font-weight: normal;
  margin-bottom: 30px;
}
.pricing .container .text p {
  font-size: 8px;
  line-height: 1.8;
  width: 500px;
  margin-bottom: 20px;
}
.pricing .container .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;
}
.pricing .container .cards .card {
  margin-left: 20px;
  padding: 25px;
  border: 2px solid #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.pricing .container .cards .card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing .container .top i {
  font-size: 25px;
}
.pricing .container .middle {
  margin-top: 25px;
}
.pricing .container .middle p:first-of-type {
  margin-bottom: 15px;
}
.pricing .container .middle p:nth-child(2) {
  margin-bottom: 15px;
  font-size: 5px;
  line-height: 1.5;
}
.pricing .container .bottom {
  display: flex;
  margin-bottom: 25px;
}
.pricing .container .bottom i {
  display: block;
  color: #47c421;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 12px;
}
.pricing .container .bottom p {
  margin-top: 15px;
  font-size: 12px;
}
.pricing .container .card a {
  text-decoration: none;
  color: white;
  background-color: #7620ff;
  padding: 5px 20px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-left: 40%;
}
/* end pricing */
/* start contact-us */
.contact-us {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}
.contact-us .container .text h2 {
  font-weight: normal;
  margin-bottom: 30px;
}
.contact-us .container .text p {
  font-size: 8px;
  line-height: 1.8;
  width: 500px;
}
.contact-us .container .foot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "form image";
  gap: 50px;
  justify-content: space-between;
}
.contact-us .container form {
  grid-area: form;
}
.contact-us .container form label {
  margin-top: 25px;
  font-size: 10px;
  font-weight: bold;
  display: block;
}
.contact-us .container form input {
  margin-top: 5px;
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #6b6a7e;
}
.contact-us .container form textarea {
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid #6b6a7e;
  outline: none;
  width: 100%;
  height: 250px;
  background-color: #f5f5f5;
}
.contact-us .container form input:placeholder-shown,
.contact-us .container form textarea:placeholder-shown {
  font-size: 14px;
}
.contact-us .container form input[type="submit"] {
  border: none;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 40%;
  color: white;
  padding: 5px 20px;
  background-color: #7620ff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.contact-us .container .foot .image {
  grid-area: image;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-evenly;
}
.contact-us .container .foot .image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact-us .container .foot .image img:nth-child(1) {
  height: 200px;
  align-self: center;
}
.contact-us .container .foot .image img:nth-child(2) {
  grid-area: 1 / 2 / 3 / 3;
  height: 200px;
  align-self: center;
}
.contact-us .container .foot .image img:nth-child(3) {
  grid-area: 2 / 2 / 3 / 1;
  height: 270px;
}
/* end contact-us */
/* start footer */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0b093b;
  color: white;
  font-weight: bold;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container span {
  color: #7620ff;
}
.footer .container a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* end footer */